    ---
    importBaseHeadfrom'../components/BaseHead.astro';
    importHeaderfrom'../components/Header.astro';
    importFooterfrom'../components/Footer.astro';
    import{SITE_TITLE,SITE_DESCRIPTION}from'../consts';
    ---
    <!doctypehtml>
    <htmllang="en">
    <head>
    <BaseHeadtitle={SITE_TITLE}description={SITE_DESCRIPTION}/>
    </head>
    <body>
    <Header/>
    <main>
    <h1> 🧑‍🚀 Hello,Astronaut!</h1>
    <p>
    Welcometotheofficial<ahref="https://astro.build/">Astro</a>blogstartertemplate.This
    templateservesasalightweight,minimally-styledstartingpointforanyonelookingtobuild
    apersonalwebsite,blog,orportfoliowithAstro.
    </p>
    <p>
    Thistemplatecomeswithafewintegrationsalreadyconfiguredinyour
    <code>astro.config.mjs</code>file.Youcancustomizeyoursetupwith
    <ahref="https://astro.build/integrations">AstroIntegrations</a>toaddtoolslikeTailwind,
    React,orVuetoyourproject.
    </p>
    <p>Hereareafewideasonhowtogetstartedwiththetemplate:</p>
    <ul>
    <li>Editthispagein<code>src/pages/index.astro</code></li>
    <li>Editthesiteheaderitemsin<code>src/components/Header.astro</code></li>
    <li>Addyournametothefooterin<code>src/components/Footer.astro</code></li>
    <li>Checkouttheincludedblogpostsin<code>src/content/blog/</code></li>
    <li>Customizetheblogpostpagelayoutin<code>src/layouts/BlogPost.astro</code></li>
    </ul>
    <p>
    Havefun!Ifyougetstuck,rememberto
    <ahref="https://docs.astro.build/">readthedocs</a>
    or<ahref="https://astro.build/chat">joinusonDiscord</a>toaskquestions.
    </p>
    <p>
    Lookingforablogtemplatewithabitmorepersonality?Checkout
    <ahref="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
    by<ahref="https://twitter.com/Charca">MaxiFerreira</a>.
    </p>
    </main>
    <Footer/>
    </body>
    </html>